@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 20% 94%;
    --foreground: 40 15% 18%;
    --card: 40 20% 94%;
    --card-foreground: 40 15% 18%;
    --popover: 40 20% 94%;
    --popover-foreground: 40 15% 18%;
    --primary: 25 65% 47%;
    --primary-foreground: 25 100% 97%;
    --secondary: 40 40% 70%;
    --secondary-foreground: 40 30% 10%;
    --muted: 40 15% 85%;
    --muted-foreground: 40 20% 50%;
    --accent: 40 15% 85%;
    --accent-foreground: 40 15% 18%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 10% 95%;
    --border: 40 20% 80%;
    --input: 40 20% 80%;
    --ring: 25 65% 47%;
    --radius: 0.5rem;
    --chart-1: 25 65% 47%;
    --chart-2: 10 65% 47%;
    --chart-3: 340 70% 50%;
    --chart-4: 60 70% 40%;
    --chart-5: 120 40% 45%;
    
    --sidebar-background: 40 20% 91%;
    --sidebar-foreground: 40 15% 31%;
    --sidebar-primary: 25 65% 44%;
    --sidebar-primary-foreground: 25 100% 100%;
    --sidebar-accent: 40 15% 82%;
    --sidebar-accent-foreground: 40 15% 18%;
    --sidebar-border: 40 20% 77%;
    --sidebar-ring: 25 65% 44%;
  }

  .dark {
    --background: 40 15% 10%;
    --foreground: 40 30% 90%;
    --card: 40 15% 10%;
    --card-foreground: 40 30% 90%;
    --popover: 40 15% 10%;
    --popover-foreground: 40 30% 90%;
    --primary: 25 65% 47%;
    --primary-foreground: 25 100% 97%;
    --secondary: 40 30% 20%;
    --secondary-foreground: 40 50% 80%;
    --muted: 40 20% 15%;
    --muted-foreground: 40 30% 60%;
    --accent: 40 20% 15%;
    --accent-foreground: 40 30% 90%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 10% 95%;
    --border: 40 30% 20%;
    --input: 40 30% 20%;
    --ring: 25 65% 47%;
    --radius: 0.5rem;
    --chart-1: 340 65% 50%;
    --chart-2: 60 70% 40%;
    --chart-3: 120 50% 45%;
    --chart-4: 10 65% 47%;
    --chart-5: 25 70% 50%;
    
    --sidebar-background: 40 15% 2%;
    --sidebar-foreground: 40 30% 50%;
    --sidebar-primary: 25 65% 39%;
    --sidebar-primary-foreground: 25 100% 97%;
    --sidebar-accent: 40 20% 25%;
    --sidebar-accent-foreground: 40 30% 90%;
    --sidebar-border: 40 30% 12%;
    --sidebar-ring: 25 65% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
